In [1]:
import numpy as np
import pandas as pd

In [7]:
np.random.randint(1, 7, 1)

array([3])

In [10]:
def get_winner():
    floor = 0
    upfloor = 0
    while upfloor <= 100:
        dice = np.random.randint(1, 7, 1)[0]
        if dice in [1, 2]:
            floor = max(0, floor - 1)
        elif dice in [3, 4, 5]:
            upfloor += 1
            floor += 1
        else:
            floor += np.random.randint(1, 7, 1)[0]
            upfloor += 1
        if np.random.rand() <= 0.001:
            floor = 0
    if floor >= 60:
        return True
    return False

In [22]:
n_plays = 10000
winners = []
for i in range(n_plays):
    winners.append(get_winner())
    
np.array(winners).sum() / n_plays * 100

92.07

### Ex 3

In [35]:
from glob import glob

In [51]:
list_path = glob('./Names/*txt')
li = []
for path in list_path:
    df = pd.read_csv(path, names=['name', 'gender', 'occurrence'])
    df['year'] = path[-8:-4]
    li.append(df)
df = pd.concat(li)
df.head()

        name gender  occurrence  year
0       Mary      F        7065  1880
1       Anna      F        2604  1880
2       Emma      F        2003  1880
3  Elizabeth      F        1939  1880
4     Minnie      F        1746  1880