In [1]:
import numpy as np
import pandas as pd

In [4]:
sample = pd.read_csv("sample_data.csv")
sample.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

In [25]:
#1
sample.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

In [26]:
#2
sample.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

In [27]:
#3
number_ad = sample.groupby('category_name').ad_id.count().sort_values(ascending=False)
number_ad

category_name
PTY-Houses                       842357
Mobile Phones                    781435
Motorbikes                       528333
PTY-Land                         415120
Computers, Laptops               351123
                                  ...
Other household items 14110         139
Ornamental plant & decoration        41
Other pet                            36
Fan                                  12
Lighting                              9
Name: ad_id, Length: 64, dtype: int64

In [28]:
#4
top5 = number_ad.head(5)
top5

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

In [29]:
#5
min5 = number_ad.tail(5)
min5

category_name
Other household items 14110      139
Ornamental plant & decoration     41
Other pet                         36
Fan                               12
Lighting                           9
Name: ad_id, dtype: int64

In [33]:
#6
sample.groupby('category_name').mean('price')

,account_id,ad_id,price
category_name,,,
Accessories,15335908375910656,39518722514590264,8.808542e+06
Aircon,-688731245606764800,4014256354017290240,5.913818e+06
Bags,409476529585117248,157074300760879456,8.026387e+07
Bed & bedding,1536465924435436800,-2524830307729137664,1.482936e+06
Bicycles,366075900255982336,-51622806036725920,3.262726e+06
...,...,...,...
Trucks,-180833572564175520,-131692710151046800,6.693941e+08
"Vehicles parts, Accessories",148448856246599392,1863930454328279,1.141225e+08
Video games,46701391956479752,171991756901073760,2.210399e+06
Washing machine,-2496699057493935616,-667804082360586752,1.349307e+07
Watch,-4675688945298971,14473265622738670,3.596161e+07

In [31]:
sample.price.dtype

dtype('float64')

In [35]:
#7
sample.groupby('region_name').mean('price')

                                account_id         ad_id         price
region_name
Bình Trị Thừa Thiên Huế      -6.167348e+17 -6.664375e+15  4.143188e+08
Các tỉnh lân cận Hà Nội      -9.523424e+16  3.351054e+16  3.186963e+08
Cần Thơ - Tây Nam Bộ         -1.548567e+17 -1.222091e+16  4.101916e+08
Hà Nội                       -2.191670e+16  9.383880e+15  6.645161e+08
Hải Phòng Nam Định Thái Bình  5.185684e+17 -3.783973e+16  1.573403e+08
Nam Trung Bộ                 -8.359658e+16  2.798036e+16  9.059112e+08
Quảng Nam Đà Nẵng             5.165960e+17  2.603089e+15  9.412990e+08
Thanh Nghệ Tĩnh              -8.850505e+17  5.017001e+16  2.442715e+08
Tp Hồ Chí Minh               -3.655122e+16  2.950158e+15  1.302872e+09
Tây Bắc Bộ                   -7.983229e+17  1.228490e+15  3.616878e+08
Tây Nguyên                    2.371752e+17 -1.635185e+16  6.075989e+08
Đông Bắc Bộ                   2.819854e+17 -8.121220e+16  2.312546e+08
Đông Nam Bộ                   2.337135e+17 -3.338068e+16  7.097406e+08

In [48]:
#8
sample.groupby(['category_name','condition_ad_name']).ad_id.nunique()

category_name    condition_ad_name
Accessories      Mới                   1990
                 Đã sử dụng           17786
Aircon           Mới                      1
                 Đã sử dụng               8
Bags             Mới                   5486
                                      ...
Video games      Mới                      4
                 Đã sử dụng             276
Washing machine  Đã sử dụng               5
Watch            Mới                  19100
                 Đã sử dụng           32440
Name: ad_id, Length: 106, dtype: int64

In [52]:
sample.groupby('category_name').ad_id.count().sort_values(ascending=False).len(timestamp,4)

AttributeError: 'Series' object has no attribute 'len'

In [55]:
sample.timestamp.Timestamp.is_leap_year

AttributeError: 'Series' object has no attribute 'Timestamp'