In [6]:
import pandas as pd

In [14]:
df=pd.read_csv('sample_data.csv')
df.head(10)

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0
5,6007291878672279226,-1011458500454390912,order,2018-05-03 14:39:53.379256,on_behalf,Cars,Hà Nội,Mới,997000000.0
6,-8143274583979068266,-5031538607861377271,order,2018-05-02 15:54:24.157315,on_behalf,Cars,Hà Nội,Mới,259000000.0
7,-7148704049057146074,6927742991209753088,order,2018-05-18 13:05:14.606765,on_behalf,Cars,Hà Nội,Đã sử dụng,538000000.0
8,8244235460354322809,-1480006483287006729,order,2018-05-04 15:24:31.711427,on_behalf,Cars,Hà Nội,Đã sử dụng,524000000.0
9,7889304239213447135,-8826716990602725372,order,2018-05-15 17:46:24.973838,on_behalf,Cars,Hà Nội,Đã sử dụng,522000000.0

# 1- How many distinct account_id on each platform?

In [21]:
df.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

# 2- How many distinct ad_id on each platform?

In [19]:
df.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

# 3- For each category_name how many ad is advertised?

In [42]:
df.query('condition_ad_name == "Đã sử dụng"').groupby('category_name').condition_ad_name.count()

category_name
Accessories                                     23379
Aircon                                            269
Bags                                             3816
Bicycles                                        20507
Bird                                            16786
Books                                              34
Cameras, Video Cameras                          13571
Cars                                           120068
Clothes                                         10014
Collectibles, Antiques                           7952
Computers, Laptops                              95975
Desktop                                         10335
Dog                                             15345
Electric vehicles                               23747
Fridge                                         149317
Funiture, Plants                                47791
Household drawer & shelf                           52
Household table & chair                            78
Jobs - Legacy cat                                   5
Jobs looking for people                             4
Kitchen appliance                                 792
Kitchen utensil & dinnerware                       23
Mobile Phones                                  224728
Mom and kids                                     9158
Motorbikes                                     521407
Musical instruments                             32764
Office Equipments                               22793
Other Vehicles                                    460
Other accessories                                8831
Other hobbies                                     243
Other household items                           54169
Other household items 14110                       104
Other pets & equipments                          9588
Others                                           1045
PTY-Apartments                                    356
PTY-Houses                                       3201
PTY-Office, Commercial Properties               18940
PTY-Rooms                                         939
People looking for jobs                             4
Perfume                                           555
Rooster                                         24033
Services                                         2191
Shoes                                           13721
Specialized equipments, Agricultural breeds     44287
Sports, Outdoors                                 2340
TV, Speakers, MP3 players                       62393
Tablets                                         19402
Travel                                            171
Trucks                                          37043
Vehicles parts, Accessories                     38963
Video games                                       330
Washing machine                                   202
Watch                                           47584
Name: condition_ad_name, dtype: int64

# 4- Give me top 5 category_name having the highest number of ads?

In [43]:
df.query('condition_ad_name == "Đã sử dụng"').groupby('category_name').condition_ad_name.count().sort_values().head(5)

category_name
People looking for jobs          4
Jobs looking for people          4
Jobs - Legacy cat                5
Kitchen utensil & dinnerware    23
Books                           34
Name: condition_ad_name, dtype: int64

# 5- Give me top 5 category_name having lowest number of ads?

In [45]:
df.query('condition_ad_name == "Đã sử dụng"').groupby('category_name').condition_ad_name.count().sort_values(ascending=False).head(5)

category_name
Motorbikes            521407
Mobile Phones         224728
Fridge                149317
Cars                  120068
Computers, Laptops     95975
Name: condition_ad_name, dtype: int64

# 6- Give me the average price for all distinct ads within each category?

In [64]:
df.groupby('category_name')['price'].agg('mean')/1000

category_name
Accessories                      8808.541663
Aircon                           5913.818182
Bags                            80263.872308
Bed & bedding                    1482.935982
Bicycles                         3262.725930
                                   ...
Trucks                         669394.103444
Vehicles parts, Accessories    114122.494777
Video games                      2210.399386
Washing machine                 13493.069307
Watch                           35961.610884
Name: price, Length: 64, dtype: float64

# 7- Give me the average price for all distinct ads within each region_name?

In [63]:
df.groupby('region_name')['price'].agg('mean')/10000

region_name
Bình Trị Thừa Thiên Huế          41431.877364
Các tỉnh lân cận Hà Nội          31869.629154
Cần Thơ - Tây Nam Bộ             41019.159452
Hà Nội                           66451.608124
Hải Phòng Nam Định Thái Bình     15734.034064
Nam Trung Bộ                     90591.124442
Quảng Nam Đà Nẵng                94129.904612
Thanh Nghệ Tĩnh                  24427.150190
Tp Hồ Chí Minh                  130287.189331
Tây Bắc Bộ                       36168.779918
Tây Nguyên                       60759.892473
Đông Bắc Bộ                      23125.459269
Đông Nam Bộ                      70974.057784
Name: price, dtype: float64

# 8- Give details of condition_ad_name for all ads within each category? For example, for category cars,how may ads is 'Moi', 'Da su dung', and 'NaN'

dtype('O')

# 9 - Which month in 2018 we see the highest number of (distinct ads)?

# 10- Compare the distinct ads per hour in September, October, and November? Which month and which hour has top ads?