In [191]:
import pandas as pd
df1 = pd.read_csv('employee_01.csv',header = None)
df2 = pd.read_csv('employee_02.csv',header = None)
df1.columns = ['No', 'Name', 'Salary', 'Manager_ID']
df1.set_index('No')

     Name  Salary Manager_ID
No
1     Joe   70000          3
2   Henry   80000          4
3     Sam   60000        NaN
4     Max   90000

Bài tập 1: Cho một bảng Employee (file employee_01.csv đính kèm) chứa thông tin tất cả employees và manager của các employees này. Mỗi employee có một Id và thông tin manager Id của người quản lý

Dùng pandas liệt kê ra các employees có salary cao hơn manager của mình.

In [363]:
x = []
for i in range(len(df1.index)):
    if li[i] == True: 
        if df1.Manager_ID[i] == ' ':
            pass        
        elif df1.Salary[i] > df1.Salary[int(df1.Manager_ID[i])-1]:
            x.append(df1.Name[i])
pd.DataFrame({'Employee': x})

  Employee
0      Joe

======================================================================

Bài tập 2: Cho bảng Employee (file employee_02.csv đính kèm file này) chưa thông tin tất cả employees.

Dùng pandas viết truy vấn tìm ra các employees có mức lương cao nhất của mỗi phòng ban. Với ví dụ trên, ouput mong muốn như sau

In [347]:
# Tạo Header cho employee_02
df2.columns = ['ID','Name', 'Salary', 'DepartmentID']

In [233]:
# Import và tạo Header cho Department
department = pd.read_csv('department.csv', header = None)
department.columns = ['ID', 'Name']

In [348]:
# Lấy ra giá trị lương cao nhất của 2 phòng IT và Sales
max_it = df2[df2.Salary == max(set(df2.query('DepartmentID ==  1').Salary))]
max_sales = df2[df2.Salary == max(set(df2.query('DepartmentID ==  2').Salary))]

In [349]:
# Nối 2 DF lại với nhau
max_df2 = max_it.append(max_sales).reset_index()

In [351]:
# Chuyển đổi Department ID sang tên
de = []
for i in range(len(max_df2.DepartmentID)):
    if max_df2.DepartmentID[i] == 1:
        x = 'IT'
    if max_df2.DepartmentID[i] == 2:
        x = 'Sales'
    de.append(x)    
se_de = pd.Series(de)

In [340]:
# Nối 2 Dataframe se_de và max_df2 theo cột
max_salary = pd.concat([se_de,max_df2], axis=1)

In [342]:
# Xóa những cột không cần thiết
max_salary.drop('index', inplace = True, axis = 1)
max_salary.drop('ID', inplace = True, axis = 1)
max_salary.drop('DepartmentID', inplace = True, axis = 1)

In [352]:
# Đặt lại tên các cột
max_salary.columns = ['Department', 'Employee', 'Salary']
max_salary

  Department Employee  Salary
0         IT      Jim   90000
1         IT      Max   90000
2      Sales    Henry   80000