In [1]:
import pandas as pd

In [2]:
smokers=pd.read_csv('smokers.csv')
smokers.head(10)

   Year State  Value
0  2015    RI    0.2
1  2015    VT    0.3
2  2017    VA    0.3
3  2017    DE    0.4
4  2015    RI    0.4
5  2017    WV    0.6
6  2015    FL    0.6
7  2017    NM    0.7
8  2015    MD    0.7
9  2015    RI    0.8

Step 1 [30]: Read file and display the number of rows
in the data

In [29]:
smokers.shape[0]

3519

Step 2 [30]: Find and display the average number of
surveys conducted per state.

In [32]:
smokers.groupby('State')['Value'].agg('mean')

State
AK    17.380392
AL    22.815714
AR    23.433871
AZ    17.867347
CA     5.992857
CO    10.883333
CT    15.445283
DC     6.135897
DE    12.853153
FL    10.482222
GA    12.198684
GU    18.717722
HI    12.697297
IA    19.483333
ID    16.100000
IL    16.787500
IN    18.572222
KS    14.481579
KY    17.031169
LA    19.669697
MA    18.138000
MD     8.934118
ME    13.868992
MI    18.565385
MO    22.193103
MS    20.545455
MT    25.753947
NC    16.260000
ND    16.656250
NE    18.168293
NH    18.076471
NJ    17.467647
NM    12.930682
NV    15.613684
NY    15.556989
OH    24.541463
OK    20.953448
PA    11.385714
PR    10.772727
RI     9.326364
SC    18.084337
SD    30.221154
TN    17.721311
TX    18.114894
US    21.502542
UT    10.710526
VA     6.257407
VT    16.875455
WI    20.590476
WV    20.045882
WY    19.770370
Name: Value, dtype: float64

Step 3 [30]: Among the surveys in the data-set,
display the minimum and maximum smoking rate.

In [103]:
smokers.groupby(['Year','State'])['Value'].agg(min_1='min').sort_values(by='min_1').head(1)

            min_1
Year State
2015 RI       0.2

In [104]:
smokers.groupby(['Year','State'])['Value'].agg(max_1='max').sort_values(by='max_1',ascending=False).head(1)

            max_1
Year State
2003 SD      62.3

Step 4 [30]: Find average smoker rate per state and
display the states with minimum and maximum
average.

In [123]:
n=smokers.groupby('State')['Value'].agg('mean').sort_values().head(1)
m=smokers.groupby('State')['Value'].agg('mean').sort_values(ascending=False).head(1)
pd.concat([m,n])

State
SD    30.221154
CA     5.992857
Name: Value, dtype: float64

Step 5 [40]: Same as Step 4 but display the top 10
states instead of min and max.

In [124]:
n=smokers.groupby('State')['Value'].agg('mean').sort_values().head(10)
m=smokers.groupby('State')['Value'].agg('mean').sort_values(ascending=False).head(10)
pd.concat([m,n])

State
SD    30.221154
MT    25.753947
OH    24.541463
AR    23.433871
AL    22.815714
MO    22.193103
US    21.502542
OK    20.953448
WI    20.590476
MS    20.545455
CA     5.992857
DC     6.135897
VA     6.257407
MD     8.934118
RI     9.326364
FL    10.482222
UT    10.710526
PR    10.772727
CO    10.883333
PA    11.385714
Name: Value, dtype: float64

Step 6 [40]: Get state and year from user and display
the surveys for that state for that year.

In [211]:
nhap

Step 7 [50]: Get state from user as input (using
input()) and display the average smoker rate year by
year. By looking at the most recent 2 years, display if
the cigarette use is on decline or rise.