In [2]:
import pandas as pd

In [4]:
#Step 1 [30]: Read file and display the number of rows in the data.
df = pd.read_csv('smokers.csv')
df.shape

(3519, 3)

In [5]:
# Step 2 [30]: Find and display the average number of surveys conducted per state.
df.groupby('State').Value.mean()

State
AK    17.380392
AL    22.815714
AR    23.433871
AZ    17.867347
CA     5.992857
CO    10.883333
CT    15.445283
DC     6.135897
DE    12.853153
FL    10.482222
GA    12.198684
GU    18.717722
HI    12.697297
IA    19.483333
ID    16.100000
IL    16.787500
IN    18.572222
KS    14.481579
KY    17.031169
LA    19.669697
MA    18.138000
MD     8.934118
ME    13.868992
MI    18.565385
MO    22.193103
MS    20.545455
MT    25.753947
NC    16.260000
ND    16.656250
NE    18.168293
NH    18.076471
NJ    17.467647
NM    12.930682
NV    15.613684
NY    15.556989
OH    24.541463
OK    20.953448
PA    11.385714
PR    10.772727
RI     9.326364
SC    18.084337
SD    30.221154
TN    17.721311
TX    18.114894
US    21.502542
UT    10.710526
VA     6.257407
VT    16.875455
WI    20.590476
WV    20.045882
WY    19.770370
Name: Value, dtype: float64

In [6]:
# Step 3 [30]: Among the surveys in the data-set, display the minimum and maximum smoking rate.
df.Value.min()

0.2

In [7]:
df.Value.max()

62.3

In [8]:
# Step 4 [30]: Find average smoker rate per state and display the states with minimum and maximum average.
df2 = df.groupby('State').Value.mean()
df2.min()
df2.max()
df2

State
AK    17.380392
AL    22.815714
AR    23.433871
AZ    17.867347
CA     5.992857
CO    10.883333
CT    15.445283
DC     6.135897
DE    12.853153
FL    10.482222
GA    12.198684
GU    18.717722
HI    12.697297
IA    19.483333
ID    16.100000
IL    16.787500
IN    18.572222
KS    14.481579
KY    17.031169
LA    19.669697
MA    18.138000
MD     8.934118
ME    13.868992
MI    18.565385
MO    22.193103
MS    20.545455
MT    25.753947
NC    16.260000
ND    16.656250
NE    18.168293
NH    18.076471
NJ    17.467647
NM    12.930682
NV    15.613684
NY    15.556989
OH    24.541463
OK    20.953448
PA    11.385714
PR    10.772727
RI     9.326364
SC    18.084337
SD    30.221154
TN    17.721311
TX    18.114894
US    21.502542
UT    10.710526
VA     6.257407
VT    16.875455
WI    20.590476
WV    20.045882
WY    19.770370
Name: Value, dtype: float64

In [9]:
# Step 5 [40]: Same as Step 4 but display the top 10 states instead of min and max.
df.groupby('State').Value.mean().sort_values(ascending = False).head(10)

State
SD    30.221154
MT    25.753947
OH    24.541463
AR    23.433871
AL    22.815714
MO    22.193103
US    21.502542
OK    20.953448
WI    20.590476
MS    20.545455
Name: Value, dtype: float64

In [10]:
#Step 6 [40]: Get state and year from user and display the surveys for that state for that year.
df3 = df.query('Year == 2015 and State == "RI"')
df3.groupby('Year').Value.sum()

Year
2015    41.5
Name: Value, dtype: float64

In [ ]:
# Step 7 [50]: Get state from user as input (using input()) and display the average smoker rate year by year. By looking at the most recent 2 years, display if
# the cigarette use is on decline or rise.

In [ ]:
a = input()
df3 = df[df['State'] == a]
df3
df3.groupby('Year').Value.mean()

In [ ]:
df.head(10)